.patient{
    padding:vw(10) vw(20);
    border-bottom:1px solid $silver;
    display:flex;
    align-items:center;
    justify-content:space-between;

    &:last-child{
        border:0;
    }

    &__filter{
        margin-bottom:vw(30);
    }

    &__list{
        margin:0;
        padding:0;
        list-style:none;
        background-color:$white;
        border-radius:vw(10);
        box-shadow:$global-shadow;
        overflow:hidden;
    }

    &__info{
        width:vw(300);
    }

    &__name{
        font-size:vw(20);
        font-weight:bold;
        color:$black;
        width:100%;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }

    &__email,
    &__phone{
        font-size:vw(16);
        margin-top:vw(10);
        width:100%;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;

        i{
            color:$gray;
            margin-right:vw(5);
        }
    }

    &__edit,
    &__delete{
        display:inline-block;
        width:vw(40);
        height:vw(40);
        color:$white;
        text-align:center;
        line-height:vw(40);
        border-radius:50%;
    }

    &__edit{
        background-color:$aquamarine;
    }

    &__delete{
        background-color:$red;
    }

    &__pagination{
        width:100%;
        margin:vw(30) 0 0;
        text-align:center;
        font-size:vw(20);
    
        li{
            display:inline-block;
            padding:0;
            list-style:none;
            width:vw(30);
            height:vw(30);
            margin:0 vw(5);
            text-align:center;
            line-height:vw(30);
            background-color:$gray;
            color:$graphite;

            &.active{
                background-color:$red;
                color:$white;
            }
        }
    }
}
