/* ==========================================================================
   =layout
   ========================================================================== */

html {
    //definição para automatizar o responsivo do size e basear em VW
    font-size: mobile-vw(16, true); //para calcular o valor de vw sobre o tamanho do layout-mobile

    @media (min-width: $size-desktop-min) {
        font-size: desktop-vw(10, true); //para calcular o valor de vw sobre o tamanho do layout-desktop
    }

    @media (min-width: $size-retina) {
        font-size: fixed-vw(10); //para travar o layout apos o tamanho maximo de desktop
    }
}

*{
    box-sizing:border-box;
    outline:none;
    text-decoration:none;
    color:inherit;
}

body{
    font-size:vw(18);
    font-family:$fontStack;
    color:$graphite;
    background-color:$lightgray;
}

*[disabled=disabled],
*[readonly]{
    background-color:rgba($graphite,.2) !important;
    cursor:default;
}

.site__content{
    padding:vw(140) vw(30);
}

.fa, .fab, .fal, .far, .fas{
    line-height:inherit;
}

h1,h2,h3,h4,h5,h6,p,ul{
    margin:0;
    padding:0;
}

.page__title{
    margin-bottom:vw(30);
}

.message__wrapper{
    position:fixed;
    bottom:vw(30);
    left:vw(30);
    width:auto;
    z-index:999;
}

.global-loading{
    display:none;
    position:fixed;
    z-index:1201;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:$lightgray;

    .loading{
        border:vw(8) solid $white;
        border-top:vw(8) solid $pink;
        position:fixed;
        top:50%;
        left:50%;
        margin:-25px 0 0 -25px;
    }
}

.loading{
    border:vw(8) solid $silver;
    border-top:vw(8) solid $pink;
    border-radius:50%;
    width:vw(50);
    height:vw(50);
    margin:vw(50) auto;
    animation:spin 500ms linear infinite;
}

@keyframes spin {
    0% { transform:rotate(0deg); }
    100% { transform:rotate(360deg); }
}

@media (max-width: ($size-tablet - 1px)) {
    .only-desktop {
        display: none !important;
    }
}
@media (min-width: $size-tablet) {
    .only-mobile {
        display: none !important;
    }
}

body {
    overflow-x: hidden;
}