/* ==========================================================================
   =mixins========================================================================== */

@mixin media($min) {
     @media (min-width: $min){
        @content;
    }
}
@mixin media-screen($min) {
     @media (min-width: $min) and (orientation: landscape) {
        @content;
    }
}

@mixin media-inverse($max) {
    @media (max-width: $max){
       @content;
   }
}

@mixin media-interval($min, $max){
    @media(min-width: $min) and (max-width: $max){
        @content;
    }
}

@mixin high_contrast($inverse: false) {

    .high_contrast & {
        @if ($inverse) {
            background-color: #fff01f !important;
            color: #000 !important;
        }
        @else {
            background-color: #000!important;
            color: #fff01f  !important;
        }
    }
}

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

/* =propertys
   ========================================================================== */

@mixin font-smoothing(){
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin placeholder($color){
    &::-webkit-input-placeholder { color:$color; }
    &::-moz-placeholder{ color:$color; }
    &:-ms-input-placeholder{ color:$color; }
    &:-moz-placeholder{ color:$color; }
}

@mixin ratio-box($w, $h, $media, $w-scale: 1, $h-scale: 1) {
    @if $media == mobile {
        width: mobile-vw($w * $w-scale);
        height: mobile-vw($h * $w-scale);
        max-height: mobile-vh($h * $h-scale);
        max-width: mobile-vh($w * $h-scale);
    }

    @if $media == tablet {
        width: tablet-vw($w * $w-scale);
        height: tablet-vw($h * $w-scale);
        max-height: tablet-vh($h * $h-scale);
        max-width: tablet-vh($w * $h-scale);
    }

    @if $media == desktop {
        width: desktop-vw($w * $w-scale);
        height: desktop-vw($h * $w-scale);
        max-height: desktop-vh($h * $h-scale);
        max-width: desktop-vh($w * $h-scale);
    }
}

@mixin center-box($top: 0, $right: 0, $bottom: 0, $left: 0) {
    margin: auto;
    position: absolute;
    top:$top;bottom:$bottom; /* vertical center */
    left:$left;right:$right; /* horizontal center */
}

@mixin ratio-font($s, $media) {
    font-size: calc(100vw + 100vh);
}

@mixin center ($horizontal: true, $vertical: false) {
    position: relative;
    $X: 0;
    $Y: 0;
    @if $horizontal {
        left: 50%;
        $X: -50%;
    }
    @if $vertical {
        top: 50%;
        $Y: -50%;
    }
    -moz-transform: translateX($X) translateY($Y);
    -webkit-transform: translateX($X) translateY($Y);
    -o-transform: translateX($X) translateY($Y);
    -ms-transform: translateX($X) translateY($Y);
    transform: translateX($X) translateY($Y);
}

@mixin keyframes ($name) {
     @-moz-keyframes #{$name}{
        @content;
    }
    @-webkit-keyframes #{$name} {
         @content;
    }
    @-ms-keyframes #{$name} {
         @content;
    }
    @-keyframes #{$name} {
         @content;
    }
}

@mixin animation ($config...) {
    -webkit-animation: $config;
    /* Safari 4+ */
    -moz-animation: $config;
    /* Fx 5+ */
    -o-animation: $config;
    /* Opera 12+ */
    animation: $config;
    /* IE 10+, Fx 29+ */
}

@mixin transition ($config...) {
    -webkit-transition: $config;
    /* Safari 4+ */
    -moz-transition: $config;
    /* Fx 5+ */
    -o-transition: $config;
    /* Opera 12+ */
    transition: $config;
    /* IE 10+, Fx 29+ */
}

@mixin transform ($config...) {
    -webkit-transform: $config;
    /* Safari 4+ */
    -moz-transform: $config;
    /* Fx 5+ */
    -o-transform: $config;
    /* Opera 12+ */
    transform: $config;
    /* IE 10+, Fx 29+ */
}

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
     @if $inset{
        -webkit-box-shadow: inset $top $left $blur $spread $color;
        -moz-box-shadow: inset $top $left $blur $spread $color;
        box-shadow: inset $top $left $blur $spread $color;
    }
    @else {
        -webkit-box-shadow: $top $left $blur $spread $color;
        -moz-box-shadow: $top $left $blur $spread $color;
        box-shadow: $top $left $blur $spread $color;
    }
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}