
// Screen sizes
$layout-mobile: 720px;
$layout-tablet: 768px;
$layout-desktop: 1440px;
$layout-desktop-from: 1440px;

$size-mobile: 750px;
$size-mobile-min: 0px;

$size-tablet: 768px;
$size-tablet-min: 751px;

$size-desktop: 1000px;
$size-desktop-min: 769px;
$size-desktop-full: 1440px;
$size-desktop-fullhd: 1440px;

$size-container: 1200px;

$layout-desktop-height: 900px;
$layout-tablet-height: 800px;
$layout-mobile-height: 1120px;

$layout-desktop-height-min: 760px;
$layout-tablet-height-min: 1120px;
$layout-mobile-height-min: 1120px;

$layout-desktop-height-limit: 500px;
$layout-desktop-height-limit-max: 670px;
$layout-desktop-height-min: 730px;
$layout-tablet-height-min: 1120px;
$layout-mobile-height-min: 1120px;

$size-retina: 1441px;

//Unidade de conversão de pixel para vw e vw para rem
//utilizamos 1000 para corrigir problema com font-size minimo em mobiles
//onde o font-size será: [vw = (pixel / layout-size) * convert-base]
//e as propriedades que utilizam vw sera convertidas em: [rem = pixel / (convert-base / 10)]
$convert-base:100;

// Fonts
$fontStack: 'Circular', Arial, Helvetica, sans-serif;
$fs-title:32;
$fs-subtitle:18;
$fs-label:16;
$fs-default:14;
$fs-small:12;

// Colors
$yellow:#FFBA00;
$aquamarine:#00BF8F;
$red:#FF3A29;
$pink:#EC3887;
$black:#3e464a;
$graphite:#6d7980;
$gray:#9dadb7;
$lightgray:#d6dde1;
$silver:#edf3f6;
$white:#FFF;

$global-shadow:0 5px 20px rgba($black,.2);

// Interactions
$fast-transition:all 100ms ease-in-out;
$default-transition:all 200ms ease-in-out;
$slow-transition:all 400ms ease-in-out;