.appointments{
    
    &__item{
        display:flex;
        align-items:center;
        justify-content:space-between;

        &--date{
            width:vw(60);
            margin-right:vw(10);
            text-align:center;

            span{
                display:block;
            }
        }

        &--hour{
            font-size:vw(20);
            font-weight:bold;
            color:$pink;
            margin-bottom:vw(5);
        }

        &--info{
            width:vw(230);
        }

        &--patient{
            font-size:vw(20);
            font-weight:bold;
            color:$black;
            margin-bottom:vw(5);
        }

        &--procedure{
            color:$gray;
        }

        &--status{

            &-scheduled{
                color:$gray;
            }

            &-checked{
                color:$aquamarine;
            }

            &-failed{
                color:$red;
            }
        }
    }
}