.card{
    margin-bottom:vw(40);

    &__title{
        margin:0 0 vw(20);
    }

    &__list{
        margin:0;
        padding:0;
        list-style:none;
        background-color:$white;
        border-radius:vw(10);
        box-shadow:$global-shadow;

        &--item{
            padding:vw(20);
            border-bottom:1px solid $silver;

            &.empty{
                text-align:center;
                font-size:vw(22);
                line-height:vw(32);
            }

            &:last-child{
                border-bottom:0;
            }
        }
    }

    &__more{
        display:block;
        width:100%;
        padding:vw(20) 0;
        text-align:center;
        color:$pink;
    }
}