.form{
    width:100%;
    
    &__label{
        display:block;
        width:100%;
        margin-bottom:vw(20);
        font-size:vw(20);
        font-weight:bold;
        color:$black;
    }

    &__required{
        color:$red;
    }

    &__input{
        display:block;
        width:100%;
        height:vw(50);
        padding:0 vw(10);
        border:0;
        margin-top:vw(5);
        border-radius:vw(3);
        font-family:$fontStack;
        font-size:vw(20);
        color:$black;
    }

    &__note{
        font-size:vw(16);
        color:$red;
        margin-bottom:vw(20);
    }

    &__button{
        display:block;
        width:100%;
        height: vw(50);
        background-color: $pink;
        border: solid vw(1) darken($pink,20%);
        border-radius: vw(3);
        color: $white;
        font-weight:bold;
        font-family:$fontStack;
        font-size:vw(20);
        text-transform:uppercase;
        @include font-smoothing;
    }
}