.header{
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    width:100%;

    &__logo{
        display:block;
        padding:vw(20);
        width:vw(100);
        background-color:$white;
        border-radius:0 0 vw(50) vw(50);
        box-shadow:$global-shadow;
        margin:0 auto;
        
        img{
            display:block;
            width:100%;
        }
    }
}