.message{
    display:none;
    max-width:vw(280);
    padding:vw(8) vw(20);
    border:1px solid transparent;
    border-radius:3px;
    margin:0 vw(10);

    &__wrapper{
        max-width:vw(600);
        display:flex;
        align-items:center;
        justify-content:space-around;
    }

    &__text{
        margin:0;
        line-height:vw(22);
        font-weight:bold;
        text-align:leff;
    }

    &-default{
        color:$graphite;
        border-color:$graphite;
        background-color: lighten($graphite,40%);
    }

    &-success{
        color:$aquamarine;
        border-color:$aquamarine;
        background-color: lighten($aquamarine,40%);
    }

    &-alert{
        color:$yellow;
        border-color:$yellow;
        background-color: lighten($yellow,40%);
    }

    &-error{
        color:$red;
        border-color:$red;
        background-color: lighten($red,40%);
    }
}

.notifyjs-corner{
    top:10px !important;
    margin:0 !important;
    left:50% !important;
    transform:translatex(-50%);
}