.modal{

    &__title{
        padding:vw(15) vw(30);
        background-color:$lightgray;
        color:$black;
        h2{
            font-size:vw($fs-subtitle);
        }
    }

    &__content{
        min-width:vw(800);
        padding:vw(20) vw(30);
    }
}

// Magnific styles
.mfp-container{
    padding: 0;
}

.mfp-animate.mfp-bg{
    -webkit-box-shadow: 0px 0px 83px 15px rgba(11,11,11,1);
    -moz-box-shadow: 0px 0px 83px 15px rgba(11,11,11,1);
    box-shadow: 0px 0px 83px 15px rgba(11,11,11,1);
}

.mfp-animate.mfp-bg,
.mfp-animate .mfp-arrow {
  opacity: 0;
  transform: scale(0);

  -webkit-transition: all .05s ease-out;
  -moz-transition: all .05s ease-out;
  transition: all .05s ease-out;
}

.mfp-animate.mfp-bg.mfp-ready,
.mfp-animate.mfp-ready .mfp-arrow {
  opacity: 0.8;
  transform: scale(1);
}

.mfp-animate.mfp-bg.mfp-removing,
.mfp-animate.mfp-removing .mfp-arrow {
    opacity: .4;
    transform: scale(0);
}

.mfp-animate .mfp-arrow:hover {
  transform: scale(1.2);
}

.mfp-animate.mfp-wrap .mfp-content {
    @include box-shadow(0px, 2px, 10px, 2px, rgba(0,0,0,0.4));
    opacity: 0;
    transform: scale(0);
    background-color:$white;

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);

    -webkit-transition: all 0.1s .02s ease-out;
    -moz-transition: all 0.1s .02s ease-out;
    transition: all 0.1s .02s ease-out;
}

.mfp-img.mfp-wrap.mfp-ready .mfp-content {
    padding-top: 40px;
}

.mfp-animate.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
    transform: scale(1);

    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

.mfp-animate.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
    transform: scale(0);

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.mfp-close{
    transition: all .16s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 150vh;
}

.mfp-inline-holder .mfp-content {
    line-height: 0;
    display: inline-block;
    width: auto;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close,
.mfp-close-btn-in .mfp-close,
.mfp-iframe-holder .mfp-close{
    width: vw(20);
    height: vw(20);
    font-size:vw(16);
    line-height:vw(22);
    color:$white;
    top:vw(20);
    right:vw(30);
    background-color:$red;
    border-radius:50%;
    overflow:hidden;
}

img.mfp-img {
    padding: 0;
}
