.nav{
    margin:vw(160) 0 0;
    border-top:1px solid $silver;

    &__button{
        display:block;
        width:vw(30);
        height:vw(13);
        position:fixed;
        z-index:1000;
        top:vw(30);
        right:vw(30);
        
        &:before,
        &:after{
            content:' ';
            display:block;
            position:absolute;
            height:vw(4);
            background-color:$pink;
            transition:all 300ms ease-in-out;
        }
        
        &:before{
            width:vw(30);
            top:0;
            left:0;
        }
        
        &:after{
            width:vw(20);
            bottom:0;
            right:0;
        }
        
        &.active:after{
            width:100%;
            bottom:vw(5);
            transform:rotate(-45deg);
        }
        
        &.active:before{
            width:100%;
            top:vw(4);
            transform:rotate(45deg);
        }
    }

    &__wrapper{
        position:fixed;
        z-index:997;
        top:0;
        right:100%;
        width:100%;
        height:100%;
        background-color:$white;
        transition:$slow-transition;

        &.opened{
            right:0;
        }
    }

    &__link{
        display:block;
        padding:vw(30) vw(40);
        font-size:vw(26);
        border:0;
        border-bottom:1px solid $silver;
        position:relative;

        i{
            position:absolute;
            top:50%;
            right:vw(40);
            transform:translateY(-50%);
            color:$pink;
        }
    }
}