.utbutton{
    display:block;
    width:vw(60);
    height:vw(60);
    border-radius:50%;
    background-color:$pink;
    color:$white;
    text-align:center;
    line-height:vw(60);
    font-size:vw(30);
    transition:$default-transition;
    position:relative;
    box-shadow:$global-shadow;

    i{
        transition:$fast-transition;
    }
    
    &.active{
        background-color:darken($pink,10%);
        transform:scale(1.1);

        i{
            transform:rotate(-45deg);
        }
    }

    &.blocked{
        pointer-events:none;
    }

    &__wrapper{
        position:fixed;
        right:vw(40);
        bottom:vw(30);
        z-index:1001;
    }

    &__list{
        display:none;
        
        &--item{
            margin-bottom:vw(10);
            opacity:0;
            transition:all 300ms ease-in-out;
            list-style:none;
            
            &.visible{
                opacity:1;
            }
            
        }

        &--link{
            display:block;
            width:vw(60);
            height:vw(60);
            border-radius:50%;
            text-align:center;
            font-size:vw(28);
            line-height:vw(60);
            background-color:$aquamarine;
            color:$white;
            transition:all 300ms ease-in-out;
            box-shadow:$global-shadow;
        } 
    }
}